body {
    background-color: #FFDFDF;
    background-image: linear-gradient(#e4e4f2);
    font-family: sans-serif;
}

header { 
    padding: 20px;
    color: #307e8c;
    font-size: 30px;
    border-bottom:5px solid ;
}
.cabecalho { 
    display: flex;
    justify-content: space-around;
}

#titulo {
    color:#1F1717;
    font-size: 50px;
    text-align: center;
}
.h2 {
    font-size: 40px; 
    text-align: justify;
}
.h1 {text-align: center;}

.texto {
    color: #1F1717;
    font-size: 20px;
    text-align: justify;
}

#imagem { 
    height: 100px;
    width: 140px;
    padding: 5px;
    margin: 1px double #307e8c;
    border-radius: 25px;
}

.conteúdo {background-color:#B4BDFF;}

.lista1 { background-color: aquamarine;}